<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="btn btn-outline-success my-2 my-sm-0 mr-2" href="/signIn"
      >ログイン</a
    >
    <a class="btn btn-outline-success my-2 my-sm-0" href="/signUp">新規登録</a>
    <a class="btn btn-outline-success my-2 my-sm-0" href="/forget">リセット</a>
  </div>
</nav>
