<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("./_share/metadata.ejs") %>
    <title>検証</title>
    <%- include("./_share/stylesheets.ejs") %>
  </head>
  <body>
    <div class="outerframe">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="btn btn-outline-success my-2 my-sm-0 mr-2" href="/"
            >top</a
          >
        </div>
      </nav>
      <main role="main" class="container">
        <div class="border-bottom mt-5 mb-5">
          <h1>その他</h1>
        </div>
      </main>
    </div>
  </body>
</html>
